@import './base.css';

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Kalam';
  src: url('@/assets/fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: 400;
}
